

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-regular.eot');
  src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-regular.woff') format('woff'),
       url('../fonts/proximanova-regular.ttf')  format('truetype'),
       url('../fonts/proximanova-regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Proxima Nova';
  src:  url('../fonts/proximanova-light.eot');
  src:  url('../fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/proximanova-light.woff2') format('woff2'),
      url('../fonts/proximanova-light.woff') format('woff'),
      url('../fonts/proximanova-light.ttf') format('truetype'),
      url('../fonts/proximanova-light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Proxima Nova';
  src:  url('../fonts/proximanova-bold.eot');
  src:  url('../fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/proximanova-bold.woff2') format('woff2'),
      url('../fonts/proximanova-bold.woff') format('woff'),
      url('../fonts/proximanova-bold.ttf') format('truetype'),
      url('../fonts/proximanova-bold.svg#bebas_neuebook') format('svg');
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
}